* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body {
    min-width: 320px;
    overflow-x: hidden;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Fjalla One', sans-serif;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.header {
    background-color:#00263B;
    height: 300px;
}
/* //#E5E5E5#F8B24F#EA9A96 */


.header_wrap {
    display: flex;
    color: honeydew;
    justify-content: space-between;
    padding-top: 50px;
}
.name span:first-child {
    text-transform: uppercase;
    font-weight: 900;
}
.name {
    display: flex;
    flex-direction: column;
}
.social_media a {
    /* padding-top: 10px; */
    color: ivory;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #303960;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.social_media a:hover {
    transform: scale(1.2);
    transition: 0.2s;
}
.social_media a::before{
    position: relative;
    top: 10px;
} 
.info_block {
    margin-top: -120px;
}
.info_wrapper {
    /* border-radius: 5px; */
    display: flex;
    height: 371px;

    background-color: #ffffff;
    /* border: 1px solid; */
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);

}
.info_content {
    
    /* padding: 20px;
   padding-bottom: 0;
   padding-right: 0; */
   width: 100%;
}
table td{
    width: 50%;
}
.img img{ 
    /* padding: 5px; */
    width: 278px;
    /* height: auto; */
    /* justify-content: center; */
}
/* #FF5200 #00A1AB #00263B #6F0000 */

.label {
    /* padding: 20px 0 0 20px; */
    border-radius: 3px;
    background-color: #00263B;
    display: inline-block;
    color: #ffffff;
    padding: 5px 15px;
    margin: 5px 0 0px 20px;
}

.title {
    padding: 0px 0 0 20px;
    display: flex;
    flex-direction: column;
}
.title span:first-child {
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 30px;
}
.title span  {
    font-weight: 900;
    color: #00263B;
}
.content{
    padding: 0px 0 0 20px;
}

.info_content hr {
    margin: 15px 0;
}
.content a {
    color: #000000;
    text-decoration: none;
}
.content a:hover{
    text-decoration: underline;

}
.social_accs{
    /* border-radius: 6px; */
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #00263B;

}
.social_accs a {
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
}

.section_title {
    margin: 70px 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.skills_wrapper {
    background-color: #fff;
    display: flex;
    box-shadow: 3px 2px 5px rgba(0,0,0,0.5);
    padding: 30px;
}

/* .skills_bar .about_us {
    flex-basis: 50%;
} */

.about_us {
    text-align: justify;
    padding-right: 30px;
    flex-basis: 50%;
}

.skills_bar {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skill_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
.skill_progress {
    height: 4px;
    background-color: #eee;
}
.load {
    height: 4px;
    background-color: #00263B;
}

.p50 .load {
    width: 50%;
}
.p90 .load {
    width: 90%;
}
.p75 .load {
    width: 75%;
}
.p25 .load {
    width: 25%;
}